body {
    margin: 0;
}

.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left-side{
    flex: 3;
    background-color: rgb(39, 39, 48);
    display: flex;
    flex-direction: column;

}

.code{
    flex: 5;
    background-color: blue;
}

.CodeMirror{
    font-size: 3vmin;
}

.buttons{
    flex: 1;
    display: flex;
}

.guide-button{
    flex: 1;
    border-radius: 0.5vmin;
    border-width: 0.5vmin;
    border-color: rgb(221, 166, 94);
    background-color: rgb(221, 166, 94);
    font-size: 6vmin;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.submit-button{
    flex: 1;
    border-radius: 0.5vmin;
    border-width: 0.5vmin;
    border-color: rgb(88, 201, 88);
    background-color: rgb(88, 201, 88);
    font-size: 6vmin;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.right-side{
    flex: 2;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;

}

.input{
    flex: 2;
    background-color: brown;
}

.output{
    flex: 2;
    background-color: green;
}

.result{
    flex: 1;
    background-color: chartreuse;
}

.story{
    flex: 6;
    background-color: palevioletred;
}